@import './variables';

main.mainBlog {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
    
}

.container {
    display: flex;
    flex-direction: column;
    max-width: $max-width-container;
    width: 100%;
    gap: 100px;

    .introduction {
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }
}

