.container {
    display: flex;
    flex-direction: column;
    max-width: 860px;
    width: 100%;
    gap: 100px;
}

.introduction{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.introduction>p{
    margin: 20px 0px;
}

h1 { 
 color: #98CA3F;
}

.about{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

}

.about_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about>img{
    width: 250px;
    height: 250px;
    margin: auto;
}

.about_text>p{
    margin-top: 10px;
}

.education{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.education_box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-items: center;
    justify-items: center; /* esto para centrar horizontalmente cuando es un grid */
}

.education_box > img {
    width: 250px;
    height: 250px;
}

.education_description{
    color: #A4A6A6;
}


